In [16]:

import pandas as pd

import requests




# Replace 'YOUR_API_KEY' with your actual API key

api_key = '7c17a88e84044c12d66273dfaed7fa39fc15b39d'




# Define the API endpoint you want to query

endpoint = 'https://api.census.gov/data/2019/abscs?get=NAME,GEO_ID,RCPSZFI,NAICS2017_LABEL,ETH_GROUP,SEX,EMPSZFI,EMP,FIRMPDEMP&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:45300&NAICS2017=00'



# Define the parameters for your query




# Send the request to the API and store the response

response = requests.get(endpoint)




# Convert the response into a pandas DataFrame

df = pd.DataFrame.from_records(response.json()[1:], columns=response.json()[0])




# Save the DataFrame to a CSV file

df.to_csv('census_data.csv', index=False)

In [17]:
census_tampa = pd.read_csv('../Group Project/census_data.csv')
census_tampa

,NAME,GEO_ID,RCPSZFI,NAICS2017_LABEL,ETH_GROUP,SEX,EMPSZFI,EMP,FIRMPDEMP,NAICS2017,metropolitan statistical area/micropolitan statistical area
0,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,1,1,1,1147469,64459,0,45300
1,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,1,1,611,0,8638,0,45300
2,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,1,1,612,60909,32788,0,45300
3,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,1,1,620,59736,9108,0,45300
4,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,1,1,630,69697,5221,0,45300
...,...,...,...,...,...,...,...,...,...,...,...
136,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,531,Total for all sectors,29,1,1,45859,8022,0,45300
137,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,532,Total for all sectors,29,1,1,374362,14129,0,45300
138,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,29,2,1,71536,11806,0,45300
139,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,29,3,1,354299,34621,0,45300
140,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,Total for all sectors,29,4,1,56741,7921,0,45300

In [18]:
one = census_tampa.rename(columns={'NAME':'Municipality', 'RCPSZFI': 'Firm_Sale_Amount', 'ETH_GROUP' : 'Ethnicity', 'SEX': 'Gender',
'EMPSZFI': 'Firm_Employee_Size', 'EMP': 'Employee_Amount', 'FIRMPDEMP': 'Amount_of_Firms'})




two = one.drop(['NAICS2017_LABEL', 'NAICS2017', 'metropolitan statistical area/micropolitan statistical area', 'Firm_Employee_Size'], axis=1)

two

,Municipality,GEO_ID,Firm_Sale_Amount,Ethnicity,Gender,Employee_Amount,Amount_of_Firms
0,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,1,1,1147469,64459
1,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,1,1,0,8638
2,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,1,1,60909,32788
3,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,1,1,59736,9108
4,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,1,1,69697,5221
...,...,...,...,...,...,...,...
136,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,531,29,1,45859,8022
137,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,532,29,1,374362,14129
138,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,29,2,71536,11806
139,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,29,3,354299,34621
140,"Tampa-St. Petersburg-Clearwater, FL Metro Area",310M400US45300,1,29,4,56741,7921

In [19]:
new = two.loc[:,'Firm_Sale_Amount'] = two['Firm_Sale_Amount'].astype(str).replace({'511': 'Less than $5,000', '518': '$5,000,$9,000', '531': '$500,000-$999,999', '519' : ' $10,000-$24,999', '521': '$25,000-$49,999', '522' : '$50,000-$99,999', '523': '$100,000-$249,999',

'525': '$250,000 to $499,999', '532': ' $1,000,000 or more' })

In [20]:
three = (two

.replace({'Gender':{1: 'Total'}})

.replace({'Gender':{2: 'Female'}})

.replace({'Gender':{3: 'Male'}})

.replace({'Gender':{4: 'Equally male/female'}})

.replace({'Gender':{96: 'Classified'}})

.replace({'Gender':{98: 'Unclassificable'}})

.replace({'Ethnicity':{ 1 : 'Total'}})

.replace({'Ethnicity':{20: 'Hispanic'}})

.replace({'Ethnicity':{28: 'Equally Hispanic/non-Hispanic'}})

.replace({'Ethnicity':{29: 'Non-Hispanic'}})

.replace({'Ethnicity':{96: 'Classifiable'}})

.replace({'Ethnicity':{98: 'Unclassifiable'}})

)

In [21]:
final_tampa = three.drop(three[three['Firm_Sale_Amount'] == '1'].index)